#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    /* [사실] 하드웨어 배선과 코드 위치를 일치시키는 변환 레이어 */
    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <4>;
        // 물리 1번(좌측 상단)이 bindings의 첫 번째 요소가 되도록 매핑
        map = <
            RC(2,3) RC(2,2) RC(2,1) RC(2,0) // 물리 1, 2, 3, 4번 키 (상단)
            RC(1,3) RC(1,2) RC(1,1) RC(1,0) // 물리 5, 6, 7, 8번 키 (중단)
            RC(0,3) RC(0,2) RC(0,1) RC(0,0) // 물리 9, 10, 11, 12번 키 (하단)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) // 인코더 클릭 버튼 (Row 3)
        >;
    };

    chosen {
        zmk,matrix_transform = &default_transform;
        // 사실: 빌드 에러 해결을 위해 디스플레이 장치를 명시적으로 지정
        zephyr,display = &oled;
    };

    /* 커스텀 비헤이비어 정의 */
    behaviors {
        // 부트로더/음소거 홀드-탭 (5초 홀드 시 부트로더, 짧게 탭하면 음소거)
        td_boot: tap_dance_bootloader {
            compatible = "zmk,behavior-hold-tap";
            label = "BOOTLOADER_LONG_PRESS";
            #binding-cells = <2>; 
            tapping-term-ms = <5000>;
            flavor = "tap-preferred";
            bindings = <&bootloader>, <&kp>;
        };

        // 상단 좌측 노브 클릭: 길게 누르면 DELETE, 짧게 누르면 ENTER
        ht_del_ent: hold_tap_del_enter {
            compatible = "zmk,behavior-hold-tap";
            label = "DEL_ENTER_HOLD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0번: Numpad 레이어 (숫자 입력 최적화)
        default_layer {
            label = "Numpad";
            bindings = <
                /* 물리 1 2 3 4 */
                &kp BSPC     &kp KP_N7    &kp KP_N8    &kp KP_N9
                /* 물리 5 6 7 8 */
                &kp KP_DOT   &kp KP_N4    &kp KP_N5    &kp KP_N6
                /* 물리 9 10 11 12 */
                &lt 3 KP_N0  &kp KP_N1    &kp KP_N2    &kp KP_N3  
                
                /* 노브 클릭 버튼 */
                &td_boot 0 C_MUTE    &ht_del_ent DELETE ENTER         &to 1                    &none
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP  // 하단 노브
                &inc_dec_kp PG_UP PG_DN        // 상단 좌측 노브
                &inc_dec_kp RIGHT LEFT         // 상단 우측 노브
            >;
        };

        // 1번: VIDEO 레이어 (정중앙 SPACE 십자 배열)
        video_layer {
            label = "VIDEO";
            bindings = <
                /* 물리 1 2 3 4 */
                &kp BSPC     &kp UP       &kp F        &kp ESC
                /* 물리 5 6 7 8 */
                &kp LEFT     &kp SPACE    &kp RIGHT    &kp HOME
                /* 물리 9 10 11 12 */
                &mo 3        &kp DOWN     &kp END      &kp M     
                
                /* 노브 클릭 버튼 */
                &td_boot 0 C_MUTE    &ht_del_ent DELETE ENTER         &to 2                    &none
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP  
                &inc_dec_kp PG_UP PG_DN        
                &inc_dec_kp RIGHT LEFT         
            >;
        };

        // 2번: FREECAD 레이어 (3D 설계 단축키)
        cad_layer {
            label = "FREECAD";
            bindings = <
                /* 물리 1 2 3 4 */
                &kp DELETE   &kp LCTRL(Y) &kp LCTRL(Z) &kp ESC
                /* 물리 5 6 7 8 */
                &kp SPACE    &kp LALT     &kp LCTRL    &kp LSHFT
                /* 물리 9 10 11 12 */
                &lt 3 KP_N0  &kp KP_N3    &kp KP_N2    &kp KP_N1 
                
                /* 노브 클릭 버튼 */
                &td_boot 0 C_MUTE    &ht_del_ent DELETE ENTER         &to 0                    &none
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP  
                &inc_dec_kp LCTRL(Y) LCTRL(Z)  
                &inc_dec_kp PG_DN PG_UP      
            >;
        };

        // 3번: SYSTEM 레이어 (블루투스 제어)
        system_layer {
            label = "SYSTEM";
            bindings = <
                /* 물리 1 2 3 4 */
                &bt BT_CLR   &none        &none        &none
                /* 물리 5 6 7 8 */
                &none        &none        &none        &none
                /* 물리 9 10 11 12 */
                &trans       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2     
                
                /* 노브 클릭 버튼 */
                &td_boot 0 C_MUTE    &none                            &none                    &none
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_DN C_VOL_UP
                &inc_dec_kp PG_UP PG_DN
                &inc_dec_kp RIGHT LEFT
            >;
        };
    };
};
