#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 사실(Fact): 3x4 매트릭스(12개) + 노브 스위치(3개) 배치
            bindings = <
                /* --- 3x4 매트릭스 영역 --- */
                &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_MINUS  // Row 1
                &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_PLUS   // Row 2
                &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_ENTER  // Row 3

                /* --- 노브(Encoder) 스위치 영역 --- */
                &kp C_MUTE   &kp C_PP     &kp C_NEXT   &none         // 노브1, 2, 3 스위치 (남는 칸은 none)
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN   // 노브 1 회전
                &inc_dec_kp PG_UP PG_DN         // 노브 2 회전
                &inc_dec_kp C_BRI_UP C_BRI_DN   // 노브 3 회전
            >;
        };
    };
};
